.nav a:nth-child(3) {
    /* background-color: #215299; */
    border-left: 0;
  }
  
  .mainkjcs {
    margin: 10px auto;
    width: 1200px;
    height: auto;
    padding-bottom: 40px;
    background: #fff;
  }
  
  .nameTwo {
    float: left;
    color: #666;
    width: 80px;
    text-align: left;
    margin-right: 10px;
  }
  
  .loginboxkjcs {
    padding: 60px 0 0 405px;
    color: #cccccc;
  }
  
  .tit {
    width: 300px;
    height: 45px;
  }
  .titkjcs {
    width: 390px;
    height: 45px;
  }
  
  #demo3 img {
    width: 100px;
    height: 100px;
  }
  #demo1 img {
    width: 100px;
    height: 100px;
  }
  #demo2 img {
    width: 100px;
    height: 100px;
  }
  .tit1kjcs {
    float: left;
    width: 195px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    font-size: 22px;
    border-bottom: 2px solid #ccc;
  }
  
  .tit1kjcs:hover,
  .tit2kjcs:hover {
    color: #0165bb;
    cursor: pointer;
  }
  
  .tit2kjcs {
    float: left;
    width: 195px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    font-size: 22px;
    border-bottom: 2px solid #ccc;
  }
  
  .logBox {
    width: 300px;
  }
  
  .logBox .smallB {
    width: 300px;
    padding-bottom: 100px;
  }
  .loginn {
    width: 300px;
    height: 341px;
    padding-top: 20px;
  }
  .loginn .name {
    margin-bottom: 10px;
    width: 300px;
    font-size: 16px;
    height: 37px;
    line-height: 37px;
  }
  .loginn .name .lt {
    width: 91px;
    font-family: 'Microsoft Yahei', '΢���ź�', Tahoma, Arial, Helvetica, STHeiti;
    margin-bottom: 0;
    height: 32px;
    line-height: 32px;
    float: left;
  }
  .loginn .name .rt {
    padding-left: 8px;
    width: 290px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #cccccc;
    border-radius: 0px;
    float: left;
  }
  .loginn .btn1 {
    width: 400px;
    margin-top: 60px;
    height: 46px;
    display: block;
    line-height: 46px;
    font-family: 'Microsoft Yahei';
    font-size: 18px;
    background: #0165bb;
    border: none;
    border-radius: 0px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
  }
  .zhuce {
    width: 300px;
    height: 392px;
    background: #ffffff;
  
    margin-top: 20px;
  }
  .zhuce .name1 {
    margin-bottom: 10px;
    width: 300px;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
  }
  
  .zhuce .name1 .rt1 {
    padding-left: 8px;
    width: 290px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #cccccc;
    border-radius: 0px;
    float: left;
  }
  .zhuce .btn11 {
    width: 400px;
    margin-top: 20px;
    height: 46px;
    display: block;
    line-height: 46px;
    font-family: 'Microsoft Yahei';
    font-size: 18px;
    background: #0165bb;
    border: none;
    border-radius: 0px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
  }
  input[type='radio'] + label::before {
    content: '\a0'; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 80px;
    height: 34px;
  }
  /*改变radio 样式*/
  input[type='radio'] {
    width: 20px;
    height: 34px;
    cursor: pointer;
    position: absolute;
    /*  clip: rect(0, 0, 0, 0); */
  }
  input[type='radio']:checked + label::before {
    background-color: #eb4b3d;
    background-clip: content-box;
  }