*{
	padding:0;
	margin:0;
	font-family: "微软雅黑";
	text-decoration: none;
}
ul{
	padding:0px;
	list-style: none;
}
.oneleft{
	float: left;
	width: 240px;
	height: 600px;
	margin-top:10px;
	background-color: #fff;
	margin-right: 10px;
	font-size: 22px;
	text-align: center;
	line-height: 60px;
}
.oneleft li{
	height: 59px;
	width: 240px;
	border-bottom:1px dotted #215496;
}
.oneleft a{
	height: 60px;
	width: 240px;
	display: block;
	color: #22529a;
}
.oneleft li:first-child{
	background-color: #22529a;
}
.oneleft li:nth-child(10){
	border:none;
}
.oneleft li:first-child a{
	color: #fff;
}
.clear {
    clear:both; 
    height: 0; 
    line-height: 0; 
    font-size: 0;
}
.wrapper{
	background-image:url('../img/bg.jpg');

background-repeat: no-repeat;   
background-attachment: fixed; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
}
.contents{
	width: 1200px;
	margin: 0 auto;
}
.topbar{
	width: 100%;
	height: 40px;
	/*position: absolute;*/
	/*background-color: #0b3a7d;*/
	/*opacity: .8; */
	background: rgba(11, 58, 125, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C80b3a7d,endColorstr=#C80b3a7d);/*rgba不起作用的时候执行*/
	font-size: 14px;
}
.some{
	width: 1200px;
	margin: 0 auto;
	padding-top: 9px;
}
.date{
	float: left;
	color: #fff;
}
.sign{
	float: right;
	margin-right: 10px;
}
.sign a{
	color: #fff;
	margin-left:10px;
}
.logo{
	height: 205px;
	display: table-cell;
	vertical-align:middle;
}
.nav{
	height: 70px;
	text-align: center;
	line-height: 70px;
	font-size: 23px;
}
.nav a{
	/*background-color: #000;*/
	/*opacity: .4;*/
	background: rgba(0, 0, 0, 0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
	width: 132px;
	color: #fff;
	display: inline-block;
	border-left:1px solid #6b6c70;
}
.nav a:nth-child(1),.nav a:nth-child(2){
	width: 134px;
}
.nav a:nth-child(4){
	background-color: #215299;
	border-left:0;
}
/*ie*/
.nav a:first-child,.nav a:first-child+a{
	width: 134px;
}
.nav a:first-child{
	/*background-color: #215299;*/
	border-left:0;
}
/*ie*/
.nav a:hover{
  background-color: #215299;
  color: #fff !important;
  text-decoration: none !important;
}
.main{
	margin: 10px auto;
	width: 1200px;
	/* height:1174px; */

}
.sou{
	height: 60px;
	margin-bottom: 10px;
}
.sout,.soub{
	float: left;
	height: 60px;
	width: 470px;
	background-color: #fff;
}
.sou select,.soub input{
	height: 40px;
	width: 450px;
	margin:10px;
	border:none;
	background-color: #f3f3f3;
	text-indent: 8px;
	padding:0px;
}
.sout{
	margin-right: 10px;
}
.more{
	height: 530px;
	background-color: #fff;
}


select {
	outline:none;
  	appearance:none;
  	-moz-appearance:none;
  	-webkit-appearance:none;
 	text-indent: 16px;
  	background: url("../img/down.jpg") no-repeat scroll right center transparent;
 	color: #556572;
 	border:none;
  	padding-right: 14px;
}
  	/*border: solid 1px #000;*/
select::-ms-expand{ 
	display: none; 
	display: none\9; 

}
.sou img{
	height: 40px;
	width: 40px;
	float: left;
	border:none;
}

.main1{
	height: 400px;
}
.list{
	/* height: 800px; */
	float: right;
    width: 950px;
	margin-top: 10px;
}
.listtitle{
	height: 60px;
	border-bottom:1px dashed #ccc; 
}
.listtitle h2{
	width: 135px;
    height: 60px;
    color: #215299;
    padding-left: 1%;
    line-height: 60px;
    font-weight: normal;
    font-size: 22px;
}
.wai{
	width: 910px;
	marign-left:30px;
}

.sousuo{
	height: 60px;
    width: 470px;
    background-color: #fff;
	float:left;
	
}
.sousuo input{
	height: 40px;
    width: 358px;
    margin: 10px;
    border: none;
    background-color: #f3f3f3;
    text-indent: 8px;
    padding: 0px;
    }
.qys{
	height: 188px;
	marign-left:30px;
	 border-bottom:1px dashed #ccc; 
}

.qyleft {
	width:436px;
	height:188px;
	
	float:left;	
}
.qys .qyleft:nth-child(odd){
	margin-right:38px;
}
.qyleft .qyleft1{
	width:190px;
	height:188px;
	
	float:left;	
}
.qyleft .qyleft1 img{
	width:129px;
	height:129px;
	margin:30px 0 0 30px;
}
.qyleft .qyleft2{
	width:245px;
	height:188px;
	
	float:left;	
}
.qytop{
	width:245px;
	height:66px;
	line-height:66px;
	font-size:20px;
	color:#215299;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.qybot{
	width:245px;
	height:38px;
	
	font-size:16px;
	color:#555555;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cps{
	margin:20px;
}
.qy{
	height: 264px;
	width: 520px;
	border:1px solid #f3f3f3;
	float: left;
	/*margin: 0 10px 10px 0;*/
	margin: 30px 20px 30px 0px;
}
.qy img{
	height: 188px;
	width:224px;
	display: block;
	float: left;
}
.qy a{

	height: 264px;
	width: 520px;
	display: block;
}
.info{
	float: right;
	background-color:#f3f3f3;
	height: 168px;
	width:276px;
	background-color: #22529a;
	text-align:left;
	padding:20px 0 0 20px;
	color: #fff;
	
	display: block;
	font-size: 16px;
}
.info p:nth-child(1){
	text-align: center;
	font-size: 20px;
}
.qyname{
	height: 76px;
	width: 520px;
	background-color: #f3f3f3;
	display: block;
	line-height: 76px;
	text-align: center;
	color: #222;
	font-size: 18px;
}
.cp{
	height:264px;
	width: 195px;
	border:1px solid #f3f3f3;
	float: left;
	margin: 30px 10px 10px 0;
}
.cp img{
	height:190px;
	width:195px;
	display: block;
}
.cp a{
	height:264px;
	width: 195px;
	display: block;
}
.qys .cp:nth-child(4){
	margin: 30px 0 10px 0;
}
.infos{
	background-color:#f3f3f3;
	height: 74px;
}
.infos span{
	font-size: 13px;
	display: inline-block;
}
.infos span:first-child{
	color: #63636d;
	margin-top:10px;
	/* padding: 8px; */
}
.infos span:nth-child(2){
	color: #fb1f1f;
	padding: 0px 8px;
}

.page{
	 height: 28px;
    margin-left: 380px;
}
.page a {
	font-size: 14px;
	color:#666;

}
.liColor{
	    background: #2577e3;
    color: #fff;
}


.pages{
	height: 30px;
	margin-top: 40px;
	text-align: center;
}

.pages ul{
	text-align:center;
}
.pages li{
	/*float: left;*/
	display:inline-block;
	border:1px solid #f3f3f3;
}

.content .contentlist{display: none;}
.content .contentlist:nth-child(1){display: block;}
.footer{
	color: #858f9b;
	font-size: 14px;
	height: 120px;
	background: rgba(0, 0, 0, 0.4);
	margin-top: 10px;
	overflow: hidden;
}
.footer div{
	width: 650px;
	margin: 20px auto;
}
.footer p{
	float: left;
	margin-right: 24px;
	line-height: 24px;
}
.footer p:first-child{
	float: none;
}

.tt{
	max-width:82px;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
}
.t2{
	max-width:100px;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
}
button{
	background-color: #fff;
	border:none;
	height: 40px;
	/*width: 80px;*/
	padding:0px;
	margin-top: 10px;
	float: right;
	/*vertical-align: middle;*/
	font-size: 16px;
	color: #215199;
	font-weight: bold;
}
button span{
	display: block;
	float: right;
	margin-right:16px;
	margin-top:10px;
}


.fistpage{
	float:left;
	font-size:14px;
	margin-right:4px;
	text-align:center;
	width:43px;
	height:26px;
	border:1px solid #dddddd;
	height:28px;
	line-height:28px;
}

.leftpage{
	float:left;
	font-size:14px;
	margin-right:4px;
	text-align:center;
	width:32px;
	height:26px;
	border:1px solid #dddddd;
	height:28px;
	line-height:28px;
}
.tpages{
	float:left;
	font-size:14px;
	margin-right:4px;
	text-align:center;
	width:20px;
	height:26px;
	border:1px solid #dddddd;
	height:28px;
	line-height:28px;
}

/*有备无患...*/
.fb a:nth-child(n+6) {display:none;}
.partthree ul li:nth-child(n+6) {display:none; }
.wai:nth-child(2) {margin-left:20px; }
.qys:nth-child(5) {margin-bottom:30px; }
/* .qys:nth-child(n+6) {display:none; } */
.contentlist .pro:nth-child(n+9),.js li:nth-child(n+9),.fw li:nth-child(n+9),.rc li:nth-child(n+9){display:none; }
.latestinfo ul li:nth-child(n+9),.notification1 ul li:nth-child(n+9),.notification2 ul li:nth-child(n+9) {display:none;}
.nono{
	display: none;
}
.look{
	display: block;
}
