*{
	padding :0;
	margin:0;
	font-family: "微软雅黑";
	text-decoration: none;
}
ul{
	padding:0px;
	list-style: none;
}
.clear {
    clear:both; 
    height: 0; 
    line-height: 0; 
    font-size: 0;
}
.wrapper{
	background-image:url('../../img/homepage/bg.jpg');

background-repeat: no-repeat;   
background-attachment: fixed; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
}
.contents{
	width: 1200px;
	margin: 0 auto;
}
.topbar{
	width: 100%;
	height: 40px;
	/*position: absolute;*/
	/*background-color: #0b3a7d;*/
	/*opacity: .8; */
	background: rgba(11, 58, 125, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C80b3a7d,endColorstr=#C80b3a7d);/*rgba不起作用的时候执行*/
	font-size: 14px;
}
.some{
	width: 1200px;
	margin: 0 auto;
	padding-top: 9px;
}
.date{
	float: left;
	color: #fff;
}
.sign{
	float: right;
	margin-right: 10px;
}
.sign a{
	color: #fff;
	margin-left:10px;
}
.logo{
	height: 205px;
	display: table-cell;
	vertical-align:middle;
}
.nav{
	height: 70px;
	text-align: center;
	line-height: 70px;
	font-size: 23px;
}
.nav a{
	/*background-color: #000;*/
	/*opacity: .4;*/
	background: rgba(0, 0, 0, 0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
	width: 132px;
	color: #fff;
	display: inline-block;
	border-left:1px solid #6b6c70;
}
.nav a:nth-child(1),.nav a:nth-child(2){
	width: 134px;
}
.nav a:nth-child(4){
	background-color: #215299;
	border-left:0;
}
/*ie*/
.nav a:first-child,.nav a:first-child+a{
	width: 134px;
}
.nav a:first-child{
	/*background-color: #215299;*/
	border-left:0;
}
/*ie*/
.nav a:hover{
	background-color: #215299;
}
.main{
	margin-top: 10px auto;
	width: 1200px;

}
.main1{
	height: 400px;
}
.partone{
	height: 600px;
	margin: 10px 0;

}
.oneleft{
	float: left;
	width: 240px;
	height: 600px;
	background-color: #fff;
	margin-right: 10px;
	font-size: 22px;
	text-align: center;
	line-height: 60px;
}
.oneleft li{
	height: 59px;
	width: 240px;
	border-bottom:1px dotted #215496;
}
.oneleft a{
	height: 60px;
	width: 240px;
	display: block;
	color: #22529a;
}
.oneleft li:first-child{
	background-color: #22529a;
}
.oneleft li:nth-child(10){
	border:none;
}
.oneleft li:first-child a{
	color: #fff;
}
.sou{
	height: 60px;
	margin-bottom: 10px;
}
.sout,.soub{
	float: left;
	height: 60px;
	width: 470px;
	background-color: #fff;
}
.sout input,.soub input{
	height: 40px;
	width: 358px;
	margin:10px;
	border:none;
	background-color: #f3f3f3;
	text-indent: 8px;
	padding:0px;
}
.sout{
	margin-right: 10px;
}
.more{
	height: 530px;
	background-color: #fff;
}





.title{
	width: 885px;
	height: 60px;
	line-height:60px;
	font-size: 22px;
	font-weight: bold;
	padding-left: 20px;
	float:left;
}
.title li{
	float: left;
	margin-right:10px;
	width: 110px;
}
.title a{
	display: block;
	padding-right: 10px;
	color: #7c808c;
}
.title span{
	display: inline-block;
	height: 4px;
	width: 4px;
	float: right;
	text-align: center;
	background-color: #2b324e;
	margin: -30px 6px 0 2px;
}
.content{
	margin:0 20px;
}
.content a {
	color: #6d6d77;
}
.contentlist span{

}
.oneright{
	float: right;
	height: 600px;
	width: 950px;
}

.pro{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 223px;
}
.pro img{
	display: block;
	width: 220px;
	height: 168px;
}
.contentlist .pro:nth-child(4),.contentlist .pro:nth-child(8){
	margin-right: 0px;
}
.proinfo{
	height: 55px;
	background-color: #f3f3f3;
	color: #556572;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	width: 220px;
}
.proinfo p{
	padding:0 10px;

}
.proinfo p:nth-child(1){
	max-width:220px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.proinfo p:nth-child(2){
	color: #fe0002;
}
.proinfo p span{
	color: #21539a;
	float: right;
}
.js li{
	height: 108px;
	width: 452px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: #f3f3f3;
	float: left;
}
.js li:nth-child(even){
	margin-right: 0px;
}
.js p{
	padding-left: 20px;
	height: 24px;
	width: 410px;
}
.js p:nth-child(1){
	margin-top: 20px;
}
.js p span{
	float: right;
}
.js p:nth-child(3){
	color: #e91311;
}
.fw{
	width: 910px;
	line-height: 55px;
	padding-top:60px;
}
.fw li{
	height: 55px;
	padding: 0 20px;
}
.fw li:nth-child(Odd){
	background-color: #f3f3f3;
}
.fw li span{
	display: block;
	float: left;
}
.fw li span:nth-child(1){
	width: 360px;
	max-width:360px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.fw li span:nth-child(2){
	width: 220px;
}
.fw li span:nth-child(3){
	width: 190px;
}
.rc{
	width: 910px;
	line-height: 55px
}
.rc li{
	height: 55px;
	padding: 0 20px;
	text-align: center;
}
.rc li:nth-child(Odd){
	background-color: #f3f3f3;
}
.rc li:nth-child(1){
	color: #22529a;
}
.rc li span{
	display: block;
	width: 108px;
	float: left;
}

.parttwo{
	height: 392px;
	background-color: #fff;
	margin: 10px 0;
}
.parttwo h2{
	font-size: 23px;
	color: #22529a;
	height:60px;
	line-height:60px;
	padding-left:20px;
	padding-right:20px;
}
.parttwo h2 span:nth-child(1){
	font-size: 14px;
	color: #22529a;
	padding-right:20px;
}
.parttwo a{
	float: right;
	height:60px;
	line-height:60px;
}
.parttwo h2 span:nth-child(2),.parttwo h2 span:nth-child(3),.parttwo h2 span:nth-child(4){
	display: inline-block;
	width: 3px;
	height: 3px;
	background-color: #22529a;
	margin:2px 2px 3px 2px;
}
.parttwo h2 div{
	display: inline-block;
	width: 3px;
	height: 3px;
	background-color: #22529a;
	margin:2px 2px 3px 2px;
}
.fb{
	height: 331px;
	margin-left: 20px;
}
.falist{
	width:575px;
	height:97px;
	float:left;
	background:#f3f3f3;
	margin-right:10px;
	margin-bottom:10px;
}
.falift{
	width:121px;
	height:97px;
	float:left;
	
}
.falift img{
	width:101px;
	height:97px;
}
.faright{
	width:454px;
	height:97px;
	float:left;
	
}
.frtop{
	height:43px;
	line-height:43px;
	width:434px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#60636d;
	font-size:14px;
}
.frtoptwo{
	height:25px;
	/* line-height:43px; */
	width:454px;
/* 	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; */
	color:#60636d;
	font-size:14px;
}
.frtoptwo .two1{
	height:25px;
	width:245px;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#60636d;
	font-size:14px;
	float:left;
	margin-right:32px;
}
.frtoptwo .two2{
	height:25px;
	width:170px;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#60636d;
	font-size:14px;
	float:left;
}

.fb a{
	width: 101px;
	height: 97px;
	display: block;
	float:left;
	
}
.fb a:nth-child(5){
	margin-right: 0px;
}
.fb img{
	display: block;
	width:101px;
	height:97px;
}
.fbinfo{
	height: 86px;
	background-color: #f3f3f3;
	color: #556572;
	text-align: left;
	font-size: 14px;
	line-height:30px;
}
.fbinfo p{

	padding:0 10px;
}
.fbinfo p:nth-child(2){
	color: #fe0002;
	max-width:130px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.partthree{

	height: 232px;
	background-color: #fff;
}
.partthree h2{
	font-size: 23px;
	color: #22529a;
	height:60px;
	line-height:60px;
	padding-left:20px;
	padding-right:20px;
}
.partthree h2 a{
	float: right;
	height:60px;
	line-height:60px;
}
.partthree h2 div{
	display: inline-block;
	width: 3px;
	height: 3px;
	
	background-color: #22529a;
	margin:2px 2px 3px 2px;
}
.partthree ul{
	width: 1160px;
	margin-left: 20px;
	text-align: center;
}
.partthree li{
	height: 28px;
}
.partthree li:nth-child(Odd){
	background-color: #f3f3f3;
}
.partthree li:nth-child(1){
	color: #22529a;
}
.partthree li span{
	float: left;
	display: block;
	width: 290px;
	max-width:290px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#60636d;
}


.active a{
	color:#22529a;
}
.content .contentlist{display: none;}
.content .contentlist:nth-child(1){display: block;}
.footer{
	color: #858f9b;
	font-size: 14px;
	height: 120px;
	background: rgba(0, 0, 0, 0.4);
	margin-top: 10px;
	overflow: hidden;
}
.footer div{
	width: 650px;
	margin: 20px auto;
}
.footer p{
	float: left;
	margin-right: 24px;
	line-height: 24px;
}
.footer p:first-child{
	float: none;
}

.tt{
	max-width:82px;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
}
.t2{
	max-width:100px;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
}
button{
	background-color: #fff;
	border:none;
	height: 40px;
	/*width: 80px;*/
	padding:0px;
	margin-top: 10px;
	float: right;
	/*vertical-align: middle;*/
	font-size: 16px;
	color: #215199;
	font-weight: bold;
}
button span{
	display: block;
	float: right;
	margin-right:16px;
	margin-top:10px;
}
/*有备无患...*/
.fb a:nth-child(n+6) {display:none;}
.fb .falist:nth-child(n+7) {display:none;}
.partthree ul li:nth-child(n+6) {display:none; }
.contentlist .pro:nth-child(n+9),.js li:nth-child(n+9),.fw li:nth-child(n+9),.rc li:nth-child(n+9){display:none; }
.latestinfo ul li:nth-child(n+9),.notification1 ul li:nth-child(n+9),.notification2 ul li:nth-child(n+9) {display:none;}
.nono{
	display: none;
}
.look{
	display: block;
}
.partthree h2 a{
	float: right;
	height:60px;
	line-height:60px;
}
.spand{
	display: inline-block;
	height: 3px;
	width: 3px;
	text-align: center;
	background-color: #2b324e;
	margin: 25px 2px 0 2px;
}
